menu {
    background-color: rgb(255, 255, 35);
    padding: 5px;
    height: 80px;
}

.itens {
    text-align: center;
    justify-content: center;
    display: flex;
}

.itens a {
    color: green;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    transition: all 0.8s;
}

.itens a:hover {
    color: rgb(0, 51, 0);
    animation: scaleItens 0.8s infinite alternate;
}

@keyframes scaleItens {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}