menu {
    background-color: rgb(255, 255, 35);
    padding: 20px;
    height: auto;
}

.itens {
    text-align: center;
    justify-content: center;
    display: flex;
}

.itens a {
    color: green;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    transition: all 0.8s;
}

.itens a:hover {
    color: rgb(0, 51, 0);
    animation: scaleItens 0.8s infinite alternate;
}

@keyframes scaleItens {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.burguer span {
    color: green;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    menu {
        height: auto;
        padding: 5px;
    }
   
    .burguer span {
        display: block;
    }

    .itens a {
        display: block;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px solid green;
    }
}