.home {
    background-color: rgba(0, 0, 0, 0.726);
    padding: 50px;
    color: white
}

.home h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 30px;
}

.home span {
    font-weight: bolder;
}