@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../src/assets/background.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

section {
  background-color: rgba(255, 255, 255, 0.836);
  width: 1200px;
  padding: 30px;
  border-radius: 15px;
}

section h1 {
  color: green;
  text-align: center;
  font-size: 1.7em;
  margin-top: 30px;
  margin-bottom: 30px;
}

section h2 {
  text-align: center;
  font-size: 1.4em;
  margin-top: 30px;
  margin-bottom: 30px;
}

section h3 {
  font-size: 1.2em;
}

section p {
  line-height: 1.5em;
  text-align: justify;
  text-indent: 30px;
  margin-bottom: 15px;
}

ul {
  padding: 30px;
}

@media screen and (max-width: 768px) {
  section h1 {
    font-size: 1.5em;
  }

  section h2 {
    font-size: 1.3em;
  }
}